PORT=3000
NODE_ENV=development
DB_URI=mongo-url
FRONTEND_URL=http://localhost:5173
JWT_REFRESH_TOKEN_SECRET=my-secret
JWT_ACCESS_TOKEN_SECRET=my-secret
ALLOWED_ORIGINS=http://localhost:5173,http://localhost:5174
GUEST_USER_EMAIL=temp-mail-for-guest@gmail.com